services:
  fastapi:
    hostname: fastapi
    container_name: fastapi
    build:
      context: .
      dockerfile: dockerfile_sumo_fastapi
    environment:
      - SUMO_HOME=/usr/share/sumo
    ports:
      - "8000:8000"
    stdin_open: true
    tty: true
    networks:
      - fiware

  nginx_server:
    hostname: nginx
    container_name: nginx
    build:
      context: .
      dockerfile: dockerfile_nginx
    ports:
      - "80:80"
    depends_on:
      - fastapi
    networks:
      - fiware

networks:
  fiware:
    driver: bridge