services:
  fastapi_sumo:
    hostname: fastapix_sumo
    container_name: fastapix_sumo
    build:
      context: .
      dockerfile: dockerfile_sumo_fastapi
    environment:
      - SUMO_HOME=/usr/share/sumo
    ports:
      - "8000:8000"
    stdin_open: true
    tty: true
    networks:
      - fiware-sumo

  nginx_server_sumo:
    hostname: nginx_sumo
    container_name: nginx_sumo
    build:
      context: .
      dockerfile: dockerfile_nginx
    ports:
      - "90:80"
    # depends_on:
    #   - fastapi
    networks:
      - fiware-sumo

networks:
  fiware-sumo:
    driver: bridge