
#map {
    height: 90vh;
    z-index: 1;
  }

#cesiumContainer {
    width: 100%; 
    height: 95vh;
    left:40px ;
    margin: 0; 
    padding: 0; 
    display: block;
    z-index: 1;
}

#toolbar {
    height: 12vh;
    padding: 10px;
    background: #222;
    color: white;
}

.cabecera{
    color: darkred;
    font-size: 60px;
    font-weight: bold;
}

.toolBox{
    border: 1px solid black;
    background-color: red;
    color: blue;
}

.floating-layer {
    position: absolute;
    top: 120px;
    left: 10px;
    width: 400px;
    height: 70%;
    background-color: rgba(125, 115, 115, 0.5);
    color: white;
    padding: 10px;
    border-radius: 8px;
    z-index: 100; /* Se asegura de que esté por encima */
}

.properties-floating-layer {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 400px;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    padding: 10px;
    border-radius: 8px;
    z-index: 100; /* Se asegura de que esté por encima */
}

.propierties-table {
    width: 100%;
    border-collapse: collapse;
}

.properties-div-key{
    font-weight: bold;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin: 5px;
}

.properties-div-value {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin: 5px;
}


/* Estilos del árbol */
.tree {
    list-style-type: none;
    padding-left: 0;
    font-size: 14px;
    overflow-y: scroll;
    max-height: 300px;
    background-color: rgba(125, 125,125, 0.5);
    
}

.tree ul {
    margin-left: 15px;
    list-style-type: none;
    
}

.tree ul.nested {
    display: none;
}

.tree ul.nested.active {
    display: block;
}

.tree li {
    margin-bottom: 5px;
    cursor: pointer;
}

.tree span {
    display: inline-block;
    user-select: none;
}

.tree li:hover span {
    text-decoration: none;
}

.capabase{
    height: 100px;
   
}

#checkGoogleTiles {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    color: white;
    padding: 5px;
    z-index: 1000;
    font-family: sans-serif;
    font-size: 14px;
    user-select: none;
  }

  #tilesCheckboxContainer input {
    margin-right: 5px;
  }

.spinner-overlay {
    display: none;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#buscadorDirecciones{
    width: 100%;
}

#resultadosBusqueda{
    overflow-y: scroll;
    max-height: 300px;
    background-color: rgba(125, 125, 125, 0.5);
    font-size: 14px;
}


.containerProperties {
    width: 60%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}
.filaProperties {
    display: flex;
    padding: 12px;
    justify-content: space-between;
}
.filaProperties:nth-child(even) {
    background-color: #e9e6e6;
}
.filaProperties:nth-child(odd) {
    background-color: #b3b3b3;
}
.headerProperties {
    background-color: #606161;
    color: white;
    font-weight: bold;
}


.cesium-infoBox{
    background-color: rgb(112, 112, 112) !important;
    color: white
}

.tablePorperties {
    width: 60%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    font-size: 9px;
}
.thproper, .tdproper {
    padding: 12px;
    border: 1px solid #6b6b6b;
    text-align: center;
}
.trproper:nth-child(even) {
    background-color: #e9e9e9;
}
.trproper:nth-child(odd) {
    background-color: #d6d4d4;
}
.thproper {
    background-color: #007BFF;
    color: white;
}

#floatingLayer {
    position: absolute;
    top: 150px;
    right: 10px;
    width: 300px;
    max-height: 90vh; /* Ocupa casi toda la pantalla verticalmente */
    background-color: rgba(255, 255, 255, 0.95); /* Fondo blanco semitransparente */
    color: #333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    z-index: 1000;
    overflow-y: auto; /* Scroll si el contenido excede la altura */
    box-sizing: border-box;
}

.messages-websocket {
    padding: 2px;
    overflow-y: auto; /* Scroll si el contenido excede la altura */
    background-color: rgba(255, 255, 255, 0.95); /* Fondo blanco semitransparente */
    color: #333;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    z-index: 1000;
    box-sizing: border-box;
}

.floating-layer-right {
    position: absolute;
    top: 350px;
    right: 10px;
    width: 450px;
    max-height: 90vh; /* Ocupa casi toda la pantalla verticalmente */
    background-color: rgba(255, 255, 255, 0.95); /* Fondo blanco semitransparente */
    color: #333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    z-index: 1000;
    overflow-y: auto; /* Scroll si el contenido excede la altura */
    box-sizing: border-box;
}



.floating-panel {
    position: absolute;
    top: 150px;
    right: 10px;
    z-index: 1000;
    background: rgba(42, 42, 42, 0.85);
    color: white;
    padding: 15px;
    border-radius: 8px;
    font-family: sans-serif;
    width: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid #555;
}

.floating-panel h3 { margin-top: 0; color: #00ff88; font-size: 1.1em; }

.form-group { margin-bottom: 10px; }

.form-group label { display: block; font-size: 0.85em; margin-bottom: 3px; }

.form-group input {
    width: 100%;
    background: #111;
    border: 1px solid #444;
    color: #00ff88;
    padding: 5px;
    border-radius: 4px;
    box-sizing: border-box; /* Muy importante para el ancho */
}

#btn-launch {
    width: 100%;
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

#btn-launch:hover { background: #0056b3; }

.status-msg { font-size: 0.8em; margin-top: 10px; color: #aaa; text-align: center; }